.cover__info {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (max-width: 510px) {
  .cover__info {
    gap: 16px;
  }
}
