.lead__image {
  display: block;
  width: 100%;
  margin: 64px auto 0 auto;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin: 56px auto 0px;
  }
}

