.footer{
  display: flex;
  justify-content: space-between;
  margin: 90px auto 0;
  padding-bottom: 24px;
  max-width: min(1184px, calc(100% - 48px * 2));
}

@media only screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 24px * 2);
  }
}

@media only screen and (max-width: 690px) {
  .footer {
    margin-top: 64px;
    max-width: calc(100% - 16px * 2);
    flex-direction: column;
    gap: 48px;
  }
}
