.place__website{
  grid-area: website;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: end;
}

@media only screen and (max-width: 600px) {
  .place__website {
    align-self: flex-start;
    margin: 0 16px;
  }
}
